* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* removed body css - the only styling was a slightly different white background */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    margin-bottom: 0px;
    position: relative;
    display:flex;
    justify-content: space-between;
}

.logo {
    width: 10%;
    font-size: 48px;
    align-items: flex-start;
}

/* Changed the stylings of the menu options for increased accessability */
nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

nav a {
    margin-left: 3%;
    align-self: center;
    justify-self: self-end;
}

#initial-backdrop, #initial-backdrop img{
    width: 100%;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* Added a color change while hovering over a link */
a:hover {
    color: aqua;
}

p {
    font-size: 16px;
}

.content {
    width: 75%;
    height: 100%;
    display: inline-block;
    margin: 1% 0px 0px 5px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

.content section{
    display:flex;
    justify-content: space-between;
    margin-bottom: 1%;
    background-color: #0072bb;
    color: #ffffff;    
    padding: 50px;
    height: 30%;
}

.flex-left {
    flex:left;
    justify-self: left;
    margin-right: 5%;
}

.flex-right {
    float: right;
    justify-self: right;
}

.content img {
    max-height: 200px;
    width: 30%;
    height: auto;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
    width: 60%;
    height: auto;
}

.content p {
    height: 50%;
}

.benefits {
    margin: 1% 25px 0px 1%;
    padding: 20px;
    clear: left;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

.benefits h3 {
    color: #ffffff;
    margin: 10px 0px 32px 0px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
